@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');
/* ~~~~~~~~~~~~~~   Medium View   ~~~~~~~~~~~~~~*/

body{
	font-family: 'Montserrat', sans-serif;
	width:100%;
	color:#6C2E2F;
	display:flex;
	flex-direction: column;
	min-height: 100vh;
}

header{
	height:125px;
	display: flex;
	flex-direction: column;
	flex: 0 0 auto; /* don't grow, don't shrink, hold contents */
	justify-content: space-between;
}

footer{
	display: flex;
	height: 140px;
	flex-direction: row;
	flex: 0 0 auto; /* don't grow, don't shrink, hold contents */
	justify-content: flex-start;
}

header, footer{
	width:100%;
	background-color:#E8AB9E;
	color:#FFFFFF;
}

/*----------- Anchors & Paragraphs------------*/
a{
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
	color:#FFFFFF;
	flex:0 0 auto; /* don't grow, don't shrink, auto */
	margin-top:40px;
	margin-right: 15px;
	height: 15px;
}

a#shrem-home{
	font-weight: 700;
}

p{
	font-size: 12px;
	line-height: 1.5;
	font-weight: 400;
}

/* ----------- Headers ------------*/

h1{
	font-size: 220%; /* 35px */
	font-weight: 700;
	margin-top:30px;
	margin-left:25px;
	flex: 1 1 0;
}

h2{
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 40px;
	/*margin-top:10px;*/
	margin-left:30px;
	flex: 0 3 0;
}

h3{
	font-size: 17px;
	font-weight: 700;
	margin-top:10px;
	margin-bottom: 5px;
	flex: 0 0 0;
}

h3#bar{
	margin-top:0px;
	margin-bottom: 10px;
	font-weight: 400;
}

h4{
	font-size: 17px;
	font-weight: 400;
	margin-top:10px;
	flex: 0 0 0;
}


h5{
	font-size: 12px;
	font-weight: 700;
	margin-top:25px;
	margin-bottom: 20px;

	flex: 0 0 0;
}

h5.image-title{
	margin-top: 5px;
	margin-bottom: 8px;
	font-size: 20px;
}

h5.image-title p.image-date-medium{
	font-weight: 400;
	font-style: italic;

}

h5.image-title p.ititle{
	font-weight: 700;
	font-size: 17px;
}

/*----------- Divs ------------*/

div.header-top-row{
	display: flex;
	flex-direction: row;
}

div.link-divider{
	display:none;
}

header div#links{
	display: flex;
	flex-direction: row;
	flex: 0 0 auto;  /* grow, shrink, be large enough to contain contents*/
	justify-content: flex-end;
}

div.main-content{
	margin-top: 20px;
	margin-left: 20px;
	display: flex;
	flex-direction: row;
	flex: 1 0 auto; /* sticky footer;  grow, don't shrink, be large enough to contain contents */
}

div.exhibit-description{
	width:80%;
	height:100%;
}

div.main-content p{
	margin-right: 30px;
}

div.exhibit-images{
	display: flex;
	flex-direction: row;
	/*width:50%;*/

}

div.exhibit-image{
	width:40%;
}

div.image-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-bottom: 20px;
}

div.exhibit-image div{
	width:100%;
}

footer div{
	margin-left: 15px;
	text-align: left;
}

div#address{
	margin-right: 30px;
}

div#hours{

}

div.description-divider{
	display:none;
}

/* ----------- Images ------------*/
img{
	width:100%;
}

/* ~~~~~~~~~~~~~~   Mobile View   ~~~~~~~~~~~~~~*/
@media (max-width: 605px){ /* 480px */

	header{
		height: 35vh; /* 180px */
		display: flex;
		flex-direction: column;
		flex: 0 0 auto; /* don't grow, don't shrink, hold contents */
		justify-content: space-between;
		box-shadow: 1px 1px 15px #888888;
	}

	footer{
		display: flex;
		height: 250px;
		flex-direction: column;
		flex: 0 0 auto; /* don't grow, don't shrink, hold contents */
		justify-content: flex-start;
	}


	div.header-top-row, div.header-bottom-row{
		display: flex;
		flex-direction: column;
	}

	div.link-divider{
		margin-top: 37px;
		margin-right: 20px;
		display:flex;
		font-weight: 400;
	}

	header div#links{
		display: flex;
		flex-direction: row;
		flex: 0 0 auto; /* grow, shrink, be large enough to contain contents*/
		justify-content: center;
		margin-bottom: 25px;
	}

	a{
		font-size: 4vw;
		font-weight: 300;
		text-decoration: none;
		color:#FFFFFF;
		flex:0 1 auto; /* don't grow, don't shrink, auto */
		margin-top:35px;
		margin-right: 15px;
		height: 15px;
	}

	h1{
		font-size: 7vw; /* 45px */
		font-weight: 700;
		margin:0 auto;
		flex: 0 0 0;
		order:2; /* have links appear above title in the header */
	}

	h2{
		font-size: 4vw;
		font-weight: 400;
		margin:0 auto;
		margin-bottom: 5vh;
		flex: 0 0 0;
	}

	div.main-content{
		display: flex;
		flex-direction: column;
	}

	div.exhibit-description{
		width:100%;
		height:100%;
	}

	div.description-top{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-content: center;
		width: 100%;
	}

	div.exhibit-description p{
		width:70vw;
		margin-left: 10vw;
		margin-bottom: 15px;
	}

	h3#run-time, h4#admission{
		flex:1 1 0;
		margin:0 auto;
		width:20px;
		margin-bottom: 15px;

	}

	h3#run-time{
		text-align: right;
	}

	h3#bar{
		display: none;
	}

	h5.image-title{
		display:flex;
		flex-direction: row;
		width:70vw;
	}

	h5.image-title p{
		width:auto;
		margin:0;
	}

	h5.image-title p.image-date-medium{
		/*margin-top:3px;*/
		font-size: 17px;
		margin-left:5px;
	}

	div.description-divider{
		display: inline;
		margin-right: 5px;
		margin-left: 5px;
	}

	div#exhibit-images {
		display: flex;
		flex-direction: column;
	}

	div.image-row{
		display: flex;
		flex-direction: column;
		margin:0;
	}

	div.exhibit-image{
		margin-left: 4vw;
		margin-bottom: 15px;
	}

	div.exhibit-image div{
		width:85vw;
	}
}

/*~~~~~~~~~~~~~~    Large View   ~~~~~~~~~~~~~~*/
/*@media (max-width: 480px){

}*/

