body {
	min-height: 100vh;  /* need this line to 
					tell body to fill viewport */
	font-family: 'Open Sans', sans-serif;
	background-color: white;
	display: flex;
	flex-direction: column;
	color: #aaa;
     }

header {
   display:flex;
   flex-direction: row;
	align-items: center;
	justify-content: flex-start;
   text-align: center;
   padding: 10px;
	  
}

/* title */
h2 {
   font-family: 'Open Sans', sans-serif;
   font-style: italic;
   font-weight: bold;
   font-size: xx-large;
   text-align: left;
   margin: 10px;
   color: rgb(50,77,125);

}

div#popup{
	margin-left:auto;
	margin-right:auto;
	position: relative;

}

.hide-autocomplete{
	display:none;
}

div#autocomplete {
	display:none;
	z-index: 2;
	position:absolute;
	overflow-y: scroll;
	height: 200px;
	background-color: white;
	border: 1px solid #ccc;
	width:99%;
	margin-top:10px;
}

div#autocomplete.has_suggestions{
	display: flex;
	flex-direction: column;
}

#selected_tags{
	flex: 1 0 auto;  /* the sticky footer trick without the footer */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#autocomplete_texts p{
	font-style: italic;
}

#autocomplete_texts p:first-child{
	border-bottom: 1px solid black;

	padding-bottom: 10px;
}

.autocomplete-tag{
   z-index: 2;
   background-color: #74A4A5;
   padding: 10px;
   border-radius: 5px;
   color: white;
   font-weight: 400;
   min-height: 10px;
   padding-bottom: 15px;
}

.tag_suggestion{
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
	justify-content: space-between;
}

.tag_suggestion_arrow{
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

div#query{
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	width:40vw;
	display: flex;
	flex-direction: row;
	border: 1px solid #ccc;
}

input#num{
	width: 95%;
	margin:auto 0;
	border: none;
	height:100%;
	
}

button#search{
	margin:auto 0;
	background:none;
	padding:0;
	color: rgb(50,77,125);
	border: none;
	border-left: 1px solid #ccc;
	width:13%;
	font-size: xx-large;
	
}

main {
     flex: 1 0 auto;  /* the sticky footer trick without the footer */
     background-color: #EEE;
     display: flex;
     flex-direction: column;
     justify-content: flex-start;
     text-align: center;
}


input {
	border-style: solid;
	font-size: medium;
}

p {
	font-size: medium;
	margin: 10px;
}

p#no-search{
	font-size: x-large;
	font-weight: 400;
	margin-top: 30px;
}


div#query-result{
	display: flex;
	flex-direction: row;
	margin-top: 15px;
	margin-bottom: 15px;
}

div#query-result div.query-item{
	background-color: #888;
	color:white;
	border-radius: 3px;
	min-width:70px;
	height: 25px;
	display: flex;
	flex-direction: row;
	margin-left: 5px;
	justify-content: space-around;

}

div#query-result div.query-item p{
	margin:auto auto;
	padding:5px;
}
p#query-result-text{
   font-family: 'Open Sans', sans-serif;
   font-style: italic;
   font-weight: 400;
   font-size: large;
   text-align: left;
   color: rgb(50,77,125);
   display: none;
   margin-right: 10px;
   margin-top:0;
   margin-bottom: 0;

}

button.query-item-button{
	color:white;
	background: none;
	border:none;
	width:10px;
	margin-right: 10px;
}


/* Tag styling */

p.tagText {
   z-index: 2;
   background-color: #74A4A5;
   padding: 10px;
   border-radius: 5px;
   color: white;
   font-weight: 400;
}


.selectedControls div.tagBox{

}

.selectedControls .tagButton {
	border:none;
}

.selectedControls .tagAddBox{
	border: 2px solid #74A4A5;
	border-radius: 5px;
	display:flex;
	flex-direction: row;
}

.selectedControls .tagInput {
	border:none;
	background: none;
	width:80px;
	padding: 10px;
	
}

.selectedControls .tagButton{
	background:none;
	border:none;
	color:#74A4A5;
	padding: 5px;
	font-size: large;
}

.selectedControls .tagText, .selectedControls .tagButton, .selectedControls .tagInput{
	display:block;
}

.normalControls .tagText,.normalControls .tagButton, .normalControls .tagInput{
	display:none;
}



/* Photo tile - position and size will be given by PhotoGallery */
div.tile {
    background-color: #eee;
    cursor: pointer;
    overflow: hidden; 
    float: left;
    position: relative;
}

div#react{
	/*display:none;*/
}

img {
    width: 100%;
    display: block;
}

/* so far nothing special when image selected */
img.normal {
}

img.selected {
}


.overlayOn{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position:absolute;
	z-index: 2;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);

}

.overlayOff{
	background-color: none;
}

.selectedControls, .normalControls{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position:absolute;
	z-index: 2;
	width:75%;
	height:50%;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
}

.normalControls{
	background-color: none;
}

.selectedControls{
	/*background-color: rgba(0,0,0,0.5);*/
}






